<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bitirmeprojesi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitirmeProjesi">
        <activity
            android:name=".gecis"
            android:exported="false" />
        <activity
            android:name=".PuzzleActivity3"
            android:exported="false" />
        <activity
            android:name=".puzzle3"
            android:exported="false" />
        <activity
            android:name=".puzzle2"
            android:exported="false" />
        <activity
            android:name=".puzzle1"
            android:exported="false" />
        <activity
            android:name=".PuzzleActivity1"
            android:exported="false" />
        <activity
            android:name=".model.PuzzleActivity1"
            android:exported="false" />
        <activity
            android:name=".ImgAdapter"
            android:exported="false" />
        <activity
            android:name=".PuzzleActivity"
            android:exported="true" />
        <activity
            android:name=".puzzle"
            android:exported="true" />
        <activity
            android:name=".nesnetanima"
            android:exported="false" />
        <activity
            android:name=".anaMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>